* {
  text-align: center;
  background-image: linear-gradient(to right, #b2c2cf, #fdc0a1);
}

.hendi1 {
  font-family: "times new roman", "arial", sans-serif;
  font-size: large;
  color: rgb(80, 141, 160);
}

h1 {
  font-family: "Sonic XBd BT", "arial", sans-serif;
}
